
<%- include('partials/header.ejs') %>
    <h1>Single Articles View</h1>
    <h2>
        <%= article.title %>
    </h2>
    <p>
        <%= article.content %>
    </p>
    <%- include('partials/footer.ejs') %>  